* {
  box-sizing: border-box;
}

.header {
  margin: 0;
  padding: 0;
  boarder: 0;
  background-color: #1f2937;
  font-size: 48px extra-bold #f9faf8;
}

.secondpart {
  display: flex;
}

.thirdpart {
  display: flex;
}

.fourthpart {
  display: flex;
}

.fithpart {
  display: flex;   
}