* {
  box-sizing: border-box;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

h3 {
  margin-bottom: 0px;
}

body {
  display:block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'roboto', arial;
  background-color: #03020f;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  padding-bottom: 0px;
}

.navigation {
  display: inline;
  margin-right: auto;
  padding-left: 700px;
  font-size: 22px;
}

/* hero space */

.hero {
  background-color: #03020f;
}

.header {
  display: flex;
  padding: 0px 0px 0px 30px;
  align-items: center;
}

.herospace {
  display:flex;
  align-content: center;
}

.herowords {
  align-content: center;
  margin-left: 60px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.intro {
  font-size: 48px;
  color:#F9FAF8;
  text-align: left;
  font-weight: 1000px;
  padding: 0px;
  margin: 0px;
}

.infodump {
  font-size: 18px;
  color: #F9FAF8;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.heroimg {
  padding-left: 500px;
}

/* Content */

.content {
  align-items: center;
  background-color: #1f2937;
}

.content-intro {
  justify-content: center;
  font-size: 25px;
  color: #F9FAF8;
  padding-top: 50px;
  padding-bottom: 30px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  color:#F9FAF8;
  font-size: 20px;
  margin-bottom: 30px;
}

.gallery img {
  height: 140px; 
  width: 240px;
  object-fit: cover;
  border-radius: 10px;
  border: solid 4px #E5E7Eb;
  padding: -5px;
  margin-bottom: 20px;
}

/* Quote */

.three {
  display: flex;
  height: 200px;
  width: auto;
  background-color: #E5E7Eb;
  justify-content: center;
}

.quote {
  color: #1f2937;
  font-size: 30px;
  margin-top: 60px;
  text-align: left;
  padding-bottom: 8px;
}

.neil {
  color: #1f2937;
  font-size: 16px;
  text-align: right;
  font-style: bolder;
}

/* call to action */

.four {
  display: flex;
  align-items: center;
  background-color:#3882F6;
  margin: 80px 520px;
  padding: 40px 40px;
  border-radius: 5px;
}


.signup {
  text-align: left;
  color: #F9FAF8;
}

.signup-button {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}

/* copyright */

.footer {
  display: block;
  height: 50px;
  background-color: #1f2937
}

.copyright {
  margin-top: 16px;
  color:#F9FAF8;
}

a:link {
  color: #F9FAF8;
  text-decoration: none;
}

a:visited {
  color: #F9FAF8;
  text-decoration: none;
}