* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}


.navigation {
  display: inline;
  margin-right: auto;
  padding-left: 700px;
  font-size: 22px;
  font-family: 'roboto', arial;
}

.one {
  background-color: #1f2937;
  font-size: 48px extra-bold #f9faf8;
  height: 300px;
}

.header {
  display: flex;
  padding: 0px 0px 0px 30px;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.two {
  display: flex;
  height:250px;
}

.three {
  display: flex;
  height: 200px;
  background-color: #E5E7Eb;;
}

.four {
  display: flex;
  height: 100px;
}

.five {
  display: flex;   
  background-color: #1f2937
}

a:link {
  color: #F9FAF8;
  text-decoration: none;
}

a:visited {
  color: #F9FAF8;
  text-decoration: none;
}